offload_weights/lm_head.weight.dat filter=lfs diff=lfs merge=lfs -text
chroma_persist_new/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma_persist_new/4bb96bc1-53e3-4494-b0ed-ac8d277a508e/data_level0.bin filter=lfs diff=lfs merge=lfs -text
